{% extends 'user/base.html' %}

{% block title %}Ввод нового пароля{% endblock %}

{% block content %}
<div class="auth-container">
    <h1>Введите новый пароль</h1>
    <form method="post" class="reg-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.new_password1.id_for_label }}">Новый пароль</label>
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
                <div class="error">{{ form.new_password1.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.new_password2.id_for_label }}">Подтвердите пароль</label>
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
                <div class="error">{{ form.new_password2.errors }}</div>
            {% endif %}
        </div>
        <button type="submit" class="btn-primary">Изменить пароль</button>
    </form>
</div>
{% endblock %}