{% extends 'user/base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<div class="auth-container">
    <h1>Восстановление пароля</h1>
    <form method="post" class="reg-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Почта</label>
            {{ form.email }}
            {% if form.email.errors %}
                <div class="error">{{ form.email.errors }}</div>
            {% endif %}
        </div>
        <button type="submit" class="btn-primary">Отправить ссылку для восстановления</button>
        <div class="auth-links">
            <a href="{% url 'user:login' %}" class="link">Вернуться к входу</a>
            <a href="{% url 'user:register' %}" class="link">Создать аккаунт</a>
        </div>
    </form>
</div>
{% endblock %}
